<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow" style="width: 600px;">
      <h1> 
        Add a recipe 
      </h1>
      <form 
      [formGroup]="addRecipeForm" 
      (ngSubmit)="onSubmit()">

      <div class="form-outline mt-4 mb-4">
        <p-iftalabel>
          <input pInputText id="username" formControlName="name" autocomplete="off" />
          <label for="username">Username</label>
        </p-iftalabel>
      </div>
      
      <div class="form-outline mb-4">
          <label class="form-label">Image URL</label>
          <input class="form-control" type="text" formControlName="image" />
      </div>
      
      <div class="form-outline mb-4">
        <label class="form-label">Difficulty</label>
        <input class="form-control" type="text" formControlName="difficulty" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label"> PrepTime </label>
        <input class="form-control" type="number" formControlName="prepTimeMinutes" /> 
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Add recipe</button>
      </form>
    </div>
  </div>
</body>
</html>
