<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="min-width: 100vh">
  <div class="container mt-4 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card p-5 shadow-lg rounded-4" style="max-width: 600px; width: 100vh;">
      <h2 class="text-center mb-4"> 
        Add a New Recipe 
      </h2>
      <!-- <form 
      [formGroup]="addRecipeForm" 
      (ngSubmit)="onSubmit()">

      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="name" class="w-100" />
          <label>Name</label>
        </p-floatlabel>
      </div>
      
      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="image" class="w-100"/>
          <label>Image URL</label>
        </p-floatlabel>
      </div>
      
      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="difficulty" class="w-100"/>
          <label>Difficulty</label>
        </p-floatlabel>
      </div>

      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="prepTimeMinutes" type="number" class="w-100"  />
          <label>Minutes</label>
        </p-floatlabel>
      </div>

      <p-button type="submit" label="Submit" styleClass="p-button-rounded" [disabled]="addRecipeForm.invalid"/>
      <p-button label="Back to Catalogue" severity="danger" styleClass="p-button-rounded" class="mx-1" (click)="backToCatalogue()" />
      </form> -->

      <form 
      [formGroup]="addRecipeForm" 
      (ngSubmit)="onSubmit()"
      class="form-container">
      <mat-form-field appearance="fill">
        <mat-label> Name </mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Image </mat-label>
        <input matInput type="text" formControlName="image">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Difficulty </mat-label>
        <input matInput type="text" formControlName="difficulty">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Prep Time </mat-label>
        <input matInput type="number" formControlName="prepTimeMinutes">
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" [disabled]="addRecipeForm.invalid">
        Submit
      </button>
    </form>

    </div> 
  </div>

  <app-footer> </app-footer>
</body>
</html>
