<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-light" style="min-width: 100vh">
  <div class="container mt-4 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card p-5 shadow-lg rounded-4" style="max-width: 600px; width: 100vh;">
      <h2 class="text-center mb-4"> 
        Add a New Recipe 
      </h2>
      <form 
      [formGroup]="addRecipeForm" 
      (ngSubmit)="onSubmit()">

      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="name" class="w-100" />
          <label>Name</label>
        </p-floatlabel>
      </div>
      
      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="image" class="w-100"/>
          <label>Image URL</label>
        </p-floatlabel>
      </div>
      
      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="difficulty" class="w-100"/>
          <label>Difficulty</label>
        </p-floatlabel>
      </div>

      <div class="form-outline mt-3 mb-4">
        <p-floatlabel>
          <input pInputText formControlName="prepTimeMinutes" type="number" class="w-100"  />
          <label>Minutes</label>
        </p-floatlabel>
      </div>

      <p-button type="submit" label="Submit" styleClass="p-button-rounded" />
      </form>
    </div>
  </div>
</body>
</html>
